<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.AdvertMapper">
    <sql id="Advert_Column_List">
        id as pid, create_time, deleted, modify_time,description,the_cover,content
        ,status,external_links,advert_type,title,release_time,location

    </sql>
    <select id="queryAdvert" resultType="com.microdev.model.Advert" parameterType="com.microdev.param.AdvertQuery">
        select <include refid="Advert_Column_List" /> from advertisement
        <where>
            <if test="title != null and title != ''">
                title like concat('%', #{title},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="location != null and location != ''">
                and location = #{location}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>