<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "com.microdev.mapper.AgentMapper">
    <sql id="base_column">
        id as pid, create_time, modify_time, deleted, user_id, agent_name, level, identifer,
        parent_identifer, company_name, credit_code, main_business, company_property, industry,            province, city, area, address, link_man, link_phone, company_email, company_fax, bank, sub_branch, account_number, invoices_title, from_date, to_date
    </sql>

    <select id="selectByName" resultType="com.microdev.model.Agent">
        select <include refid="base_column"/> from agent
        <where>
            <if test="identifer != null and identifer != ''">
              and  identifer = #{identifer}
            </if>
            <if test = "userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <select id = "selectAccountByParam" parameterType="com.microdev.param.AgentQureyParam" resultType="com.microdev.param.AgentAccountResponse">
        SELECT a.id as pid, a.name, a.password ,a.identifer, p.`name` AS powerName,p.`level`, a2.`identifer` as parentIdentifer FROM (select id, name, password, identifer from agent
        <where>
            <if test="name != null and name != ''">
              and name = #{name}
            </if>
            <if test="identifer != null and identifer != ''">
              and identifer = #{identifer}
            </if>
            <if test="parentIdentifer != null and parentIdentifer != ''">
              and parent_identifer = #{parentIdentifer}
            </if>
        </where>
        ) a
 INNER JOIN  account_power ap ON a.id = ap.`agent_id`
 INNER JOIN  POWER p  ON ap.`power_id` = p.`id`
        <where>
            <if test="powerName != null and powerName != ''">
                and name = #{powerName}
            </if>
        </where>
 LEFT JOIN agent a2 ON a.identifer = a2.`parent_identifer`
ORDER BY a.`create_time` DESC
    </select>

    <select id = "selectBasicByParam" parameterType="com.microdev.param.AgentQureyParam"
    resultType="com.microdev.model.Agent">
        SELECT id as pid, NAME, LEVEL , identifer, parent_identifer FROM agent
        <where>
            <if test="name != null and name != ''">
              and agent_name = #{agentName}
            </if>
            <if test="level != null and level != ''">
              and level = #{level}
            </if>
            <if test = "identifer != null and identifer != ''">
                and identifer = #{identifer}
            </if>
            <if test = "parentIdentifer != null and parentIdentifer != ''">
                and parent_identifer = #{parentIdentifer}
            </if>
        </where>
    </select>

    <select id = "selectOnePower" resultType="java.lang.String">
        SELECT id FROM POWER WHERE id IN (
SELECT power_id FROM agent_power WHERE agent_id = #{agentId})
    </select>
</mapper>