<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.BillMapper">
    <sql id="Bill_Column_List">
        id as pid, create_time, deleted, modify_time,
        pay_money, task_id, hr_company_id, hr_company_name, hotel_id,
        hotel_name, worker_id, worker_name, pay_type
    </sql>
    <select id="selectHotelPayBill" resultType="com.microdev.model.Bill" parameterType="com.microdev.param.HotelPayHrCompanyRequest">
        select
        b.*,c.name as hrCompanyName,c.logo as hrCompanyLogo,c2.name as hotelName,c2.logo as hotelLogo
        FROM bill b inner join company c on b.hr_company_id = c.id left join company c2 on b.hotel_id = c2.id
        WHERE
        b.task_id = #{hotelTaskID} and b.task_hr_id = #{hrTaskId} and pay_type = 1
        order by b.create_time desc
    </select>
    <select id="selectHrCompanyPayBill" resultType="com.microdev.model.Bill" parameterType="com.microdev.param.HrCompanyPayWorkerRequest">
        select
        b.*,c.name as hrCompanyName,c.logo as hrCompanyLogo,u.nickname as workerName,u.avatar as workerAvatar
        FROM bill b inner join company c on b.hr_company_id = c.id left join user u on b.worker_id = u.worker_id
        WHERE
        b.task_hr_id = #{hrCompanyTaskId} and b.worker_id = #{workerId}
        order by create_time desc
    </select>

    <select id="selectHrCompanyPayBillCount" resultType="java.lang.Integer" parameterType="com.microdev.param.HrCompanyPayWorkerRequest">
        select count(1)
        FROM bill b inner join company c on b.hr_company_id = c.id
        WHERE
        b.task_hr_id = #{hrCompanyTaskId} and b.worker_id = #{workerId}
    </select>

    <select id="selectHrCompanyPayBillRecord" resultType="com.microdev.param.PayRecord" parameterType="com.microdev.param.HrCompanyPayWorkerRequest">
        select
        c.name as payer,u.nickname as cashier, date_format(b.create_time, '%Y-%m-%d %H:%i:%s') as time, IFNULL(b.pay_money, 0) as salay, case b.status when 0 then '未确认' when 1 then '同意' when 2 then '拒绝' end as status
        FROM bill b inner join company c on b.hr_company_id = c.id left join user u on b.worker_id = u.worker_id
        WHERE
        b.task_hr_id = #{hrCompanyTaskId} and b.worker_id = #{workerId}
        order by b.create_time desc
    </select>

    <select id="selectHotelPayBillCount" resultType="java.lang.Integer" parameterType="com.microdev.param.HotelPayHrCompanyRequest">
        select count(1)
        FROM bill b inner join company c on b.hr_company_id = c.id
        WHERE
        b.task_id = #{hotelTaskID} and b.task_hr_id = #{hrTaskId}
    </select>

    <select id="selectHotelPayBillRecord" resultType="com.microdev.param.PayRecord" parameterType="com.microdev.param.HotelPayHrCompanyRequest">
        select
        c.name as cashier,c2.name as payer,date_format(b.create_time, '%Y-%m-%d %H:%i:%s') as time, IFNULL(b.pay_money, 0) as salay, case b.status when 0 then '未确认' when 1 then '同意' when 2 then '拒绝' end as status
        FROM bill b inner join company c on b.hr_company_id = c.id left join company c2 on b.hotel_id = c2.id
        WHERE
        b.task_id = #{hotelTaskID} and b.task_hr_id = #{hrTaskId}
        order by b.create_time desc
    </select>
    <select id="selectHotelPayBillWorker" resultType="com.microdev.model.Bill">
        select
        b.*,c.name as hotelName,c.logo as hotelLogo,u.nickname as workerName,u.avatar as workerAvatar
        FROM bill b inner join user u on b.worker_id = u.worker_id left join company c on b.hotel_id = c.id
        WHERE
        b.task_id = #{hotelTaskID} and b.worker_id = #{workerId} and pay_type = 3
        order by b.create_time desc
    </select>

    <select id="selectHotelPayBillWorkerCount" resultType="java.lang.Integer" parameterType="com.microdev.param.HotelPayHrCompanyRequest">
        select count(1)
        FROM bill b inner join user u on b.worker_id = u.worker_id left join company c on b.hotel_id = c.id
        WHERE
        b.task_id = #{hotelTaskID} and b.worker_id = #{workerId} and pay_type = 3
    </select>

    <select id="selectHotelPayBillWorkerRecord" resultType="com.microdev.param.PayRecord" parameterType="com.microdev.param.HotelPayHrCompanyRequest">
        select
        c.name as payer, u.nickname as cashier,date_format(b.create_time, '%Y-%m-%d %H:%i:%s') as time, IFNULL(b.pay_money, 0) as salay, case b.status when 0 then '未确认' when 1 then '同意' when 2 then '拒绝' end as status
        FROM bill b inner join user u on b.worker_id = u.worker_id left join company c on b.hotel_id = c.id
        WHERE
        b.task_id = #{hotelTaskID} and b.worker_id = #{workerId} and pay_type = 3
        order by b.create_time desc
    </select>
</mapper>