<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.BillMapper">
    <sql id="Bill_Column_List">
        id as pid, create_time, deleted, modify_time,
        pay_money, task_id, hr_company_id, hr_company_name, hotel_id,
        hotel_name, worker_id, worker_name, pay_type
    </sql>
    <select id="selectHotelPayBill" resultType="com.microdev.model.Bill" parameterType="com.microdev.param.HotelPayHrCompanyRequest">
        select
        b.*,c.name as hrCompanyName,c.logo as hrCompanyLogo
        FROM bill b left join company c on b.hr_company_id = c.id
        WHERE
        b.task_id = #{hotelTaskID} and b.hr_company_id = #{hrCompanyId} and b.hotel_id = #{hotelId}
        order by b.create_time desc
    </select>
    <select id="selectHrCompanyPayBill" resultType="com.microdev.model.Bill" parameterType="com.microdev.param.HrCompanyPayWorkerRequest">
        select
        b.*,c.name as hrCompanyName,c.logo as hrCompanyLogo,u.nickname as workerName,u.avatar as workerAvatar
        FROM bill b inner join company c on b.hr_company_id = c.id left join user u on b.worker_id = u.worker_id
        WHERE
        b.task_hr_id = #{hrCompanyTaskId} and b.hr_company_id = #{hrCompanyId} and b.worker_id = #{workerId}
        order by create_time desc
    </select>


</mapper>