<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.DictMapper" >
    <cache  eviction="FIFO"  flushInterval="60000"  size="512"  readOnly="true"/>
    <sql id="Dict_Column_List" >
        id as pid, create_time, deleted, modify_time, code,
        extend, name, ordinal, remark, text
    </sql>
    <insert id="save" parameterType="com.microdev.model.Dict">
        insert into dict values(#{id},#{createTime},#{deleted},#{modifyTime},#{code},
        #{extend},#{name},#{ordinal},#{remark},#{text})
    </insert>
    <update id="delete" parameterType="com.microdev.model.Dict" >
        update dict set delete = 1 where id = #{id}
    </update>
    <update id="update" parameterType="com.microdev.model.Dict">
        update dict set modify_time = #{modifyTime},code = #{code},extend = #{extend},
        name = #{name},ordinal = #{ordinal},remark = #{remark},text = #{text}
        where id = #{id}
    </update>
    <select id="findByNameAndCode"  resultType="com.microdev.param.DictDTO">
        SELECT id as pid,name,code,text,ordinal,remark,extend
        FROM dict WHERE name = #{name} and code = #{code}
    </select>
    <select id="findOne" resultType="com.microdev.model.Dict">
        select <include refid="Dict_Column_List"/> from dict where id = #{id} and delete = 0;
    </select>
    <select id="findByName" resultType="com.microdev.model.Dict" >
        select <include refid="Dict_Column_List"/> from dict where name = #{name}
    </select>
    <select id="findAll" resultType="com.microdev.model.Dict" >
        select <include refid="Dict_Column_List"/> from dict
    </select>
    <select id="queryDicts" resultType="com.microdev.model.Dict" parameterType="com.microdev.param.DictDTO">
        select <include refid="Dict_Column_List"/> from dict
        <where>
            <if test="id != null || id != ''">
                id = #{id}
            </if>
            <if test="name != null || name != ''">
                and name = #{name}
            </if>
            <if test="code != null || code != ''">
                and code = #{code}
            </if>
            <if test="text != null || text != ''">
                and text like '%${text}%'
            </if>
            <if test="remark != null || remark != ''">
                and remark like '%${remark}%'
            </if>
            <if test="extend != null || extend != ''">
                and extend like '%${extend}%'
            </if>
        </where>
    </select>
    <select  id="findProvince" resultType="java.util.Map">
        select provinceID as provinceID,province as
        province from province
    </select>
    <select id="findCity" resultType="java.util.Map" parameterType="java.lang.String">
        select cityId as cityId,city as
        city from city where father = #{pid}
    </select>
    <select id="findArea" resultType="java.util.Map" parameterType="java.lang.String">
        select areaId as areaId,area as
        area from area where father = #{cid}
    </select>

    <select id="selectTypeByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT d.remark  FROM task_type_relation tr
        INNER JOIN dict d ON tr.`task_type_id` = d.`id`
        WHERE tr.`id` = #{id}
    </select>
    <select id="queryTypeByUserId" parameterType="com.microdev.model.Dict" resultType="java.lang.String">
        SELECT d.*  FROM task_type_relation tr
        INNER JOIN dict d ON tr.`task_type_id` = d.`id`
        WHERE tr.`id` = #{id}
    </select>
</mapper>