<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microdev.mapper.HolidayMapper">
    <sql id="Base_Column_List">
    id, create_time, deleted, modify_time, from_date, to_date, task_worker_id
  </sql>

    <select id="selectByTaskWorkId" parameterType="java.lang.String" resultType="com.microdev.model.Holiday">
  	select from_date,to_date from holiday where task_worker_id = #{taskWorkerId}
  </select>


</mapper>