<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.HotelPayDetailsMapper">
    <sql id="Role_Column_List">
        id as pid, code, name
    </sql>
    <insert id="save" parameterType="com.microdev.model.HotelPayHrDetails">
        insert into hotel_pay_hr_details values(#{pid},#{createTime},#{deleted},#{modifyTime},
        #{taskHrId},#{thisPayMoney})
    </insert>
</mapper>