<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.microdev.mapper.MenuModelMapper">

    <delete id="deleteByMenuId">
        delete from menu_model where menu_id = #{menuId}
    </delete>

    <insert id="insertBatch">
        insert into menu_model values
        <foreach collection="list" item="item" separator=",">
            (#{item.menu_id}, #{item.model_id})
        </foreach>
    </insert>
</mapper>