<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.ServiceCommentMapper">
    <sql id="base_column">
        id as pid, create_time, modify_time, deleted, comment, bill_id, level
    </sql>

    <insert id="saveInfo" parameterType="com.microdev.model.ServiceComment">
        insert into service_comment values (#{pid}, #{createTime}, #{modifyTime}, #{deleted}, #{comment}, #{billId}, #{level})
    </insert>

    <select id = "selectHotelCommentInfo" resultType="com.microdev.param.CommentResponse" parameterType="com.microdev.param.ApplyParamDTO">
        select * from (
        SELECT IFNULL(c. NAME,u.nickname) as name,IFNULL(c.logo,u.avatar) as logo, DATE_FORMAT(sc.`create_time`, '%Y/%m/%d') AS createTime,t.`task_type_text` AS taskTypeText,sc.`level`,sc.`comment`, sc.id AS commentId FROM
        (SELECT * FROM bill WHERE `hotel_id` = #{id} AND pay_type in(1,3)) b
        INNER JOIN service_comment sc
        ON b.id = sc.`bill_id`
        INNER JOIN task t
        ON t.id = b.`task_id`
        left JOIN company c ON c.id = b.`hr_company_id`
        left JOIN user u on b.worker_id = u.worker_id
        <where>
        <if test="name != null and name != ''">
            and c.name like concat('%', #{name} , '%')
        </if>
        <if test = "taskTypeText != null and taskTypeText != ''">
            and t.`task_type_text` like concat('%', #{taskTypeText} , '%')
        </if>
       </where>
        )k
        LEFT JOIN (
        SELECT GROUP_CONCAT(e.`text`) AS STATUS, cr.service_comment_id FROM evaluate_comment_relation cr INNER JOIN
        evaluate e ON e.id = cr.evaluate_id GROUP BY cr.service_comment_id
        ) n
        ON k.commentId = n.service_comment_id
        order by createTime desc
    </select>

    <select id = "selectHrCommentInfo" resultType="com.microdev.param.CommentResponse" parameterType="com.microdev.param.ApplyParamDTO">
        select * from (
        SELECT u.`nickname` AS name,u.`avatar` AS logo,DATE_FORMAT(sc.create_time, '%Y/%m/%d') AS createTime,t.`task_type_text` AS taskTypeText,sc.`level`,sc.`comment`,sc.id AS commentId FROM
        (
        SELECT * FROM bill WHERE `hr_company_id` = #{id} AND pay_type = 2
        ) b
        INNER JOIN service_comment sc
        ON sc.`bill_id` = b.id
        INNER JOIN USER u
        ON u.`worker_id` = b.`worker_id`
        INNER JOIN task t
        ON t.id = b.task_id
        <where>
    <if test="name != null and name != ''">
        and u.`nickname` like concat('%', #{name} , '%')
    </if>
    <if test = "taskTypeText != null and taskTypeText != ''">
        and t.task_type_text like concat('%', #{taskTypeText} , '%')
    </if>
</where>
        )k
        LEFT JOIN (
        SELECT GROUP_CONCAT(e.`text`) AS STATUS, cr.service_comment_id FROM evaluate_comment_relation cr INNER JOIN
        evaluate e ON e.id = cr.evaluate_id GROUP BY cr.service_comment_id
        ) n
        ON k.commentId = n.service_comment_id
        order by createTime desc
    </select>

    <select id = "selectWorkerCommentInfo" resultType="com.microdev.param.CommentResponse" parameterType="com.microdev.param.ApplyParamDTO">
        SELECT c.`name`,c.logo,tw.`task_type_text` AS taskTypeText,DATE_FORMAT(wl.create_time, '%Y/%m/%d') AS createTime, GROUP_CONCAT(wl.status) AS STATUS,wl.task_worker_id AS twId FROM
(
SELECT * FROM task_worker WHERE worker_id = #{id}
) tw
INNER JOIN company c
ON c.id = tw.`hotel_id`
inner JOIN
(
SELECT create_time,STATUS,task_worker_id FROM work_log WHERE employer_confirm_status = 1
) wl
ON wl.task_worker_id = tw.id
<where>
    <if test = "name != null and name != ''">
        and c.name like concat('%', #{name} , '%')
    </if>
    <if test = "taskTypeText != null and taskTypeText != ''">
        and tw.`task_type_text` like concat('%', #{taskTypeText} , '%')
    </if>
</where>
GROUP BY createTime desc,twId
    </select>

    <select id = "selectCommentInfoPc" resultType="com.microdev.param.CommentResponse" parameterType="com.microdev.param.ApplyParamDTO">
        SELECT * FROM (
        <if test="roleType == 'hr'">
            SELECT c.name AS targetName, u.`nickname` AS NAME,u.`avatar` AS logo,DATE_FORMAT(sc.create_time, '%Y/%m/%d') AS createTime,t.`task_type_text` AS taskTypeText,sc.`level`,sc.`comment`,sc.id AS commentId FROM
            (
            SELECT * FROM bill WHERE  pay_type = 2
            ) b
            INNER JOIN service_comment sc
            ON sc.`bill_id` = b.id
            INNER JOIN USER u
            ON u.`worker_id` = b.`worker_id`
            INNER JOIN task t
            ON t.id = b.task_id
            INNER JOIN company c
            ON c.id = b.hr_company_id
                <if test = "name != null and name != ''">
                    and c.name like concat('%', #{name} , '%')
                </if>

        </if>
        <if test = "roleType == 'hotel'">
            SELECT c2.name AS targetName, c.name, c.logo,DATE_FORMAT(sc.`create_time`, '%Y/%m/%d') AS createTime,t.`task_type_text` AS taskTypeText,sc.`level`,sc.`comment`, sc.id AS commentId FROM
            (SELECT * FROM bill WHERE pay_type in(1,3)) b
            INNER JOIN service_comment sc
            ON b.id = sc.`bill_id`
            INNER JOIN task t
            ON t.id = b.`task_id`
            INNER JOIN company c
            ON c.id = b.`hr_company_id`
            INNER JOIN company c2
            ON c2.id = b.hotel_id
                <if test = "name != null and name != ''">
                    and c2.name like concat('%', #{name} , '%')
                </if>
        </if>
        <if test = "roleType == null || roleType == ''">
            SELECT c.name AS targetName, u.`nickname` AS NAME,u.`avatar` AS logo,DATE_FORMAT(b.create_time, '%Y/%m/%d') AS createTime,t.`task_type_text` AS taskTypeText,sc.`level`,sc.`comment`,sc.id AS commentId FROM
            (
            SELECT * FROM bill WHERE  pay_type = 2
            ) b
            INNER JOIN service_comment sc
            ON sc.`bill_id` = b.id
            INNER JOIN USER u
            ON u.`worker_id` = b.`worker_id`
            INNER JOIN task t
            ON t.id = b.task_id
            INNER JOIN company c
            ON c.id = b.hr_company_id
            <if test = "name != null and name != ''">
                and c.name like concat('%', #{name} , '%')
            </if>
            UNION

            (
            SELECT c2.name AS targetName, c.name, c.logo,DATE_FORMAT(sc.`create_time`, '%Y/%m/%d') AS createTime,t.`task_type_text` AS taskTypeText,sc.`level`,sc.`comment`, sc.id AS commentId FROM
            (SELECT * FROM bill WHERE pay_type = 1) b
            INNER JOIN service_comment sc
            ON b.id = sc.`bill_id`
            INNER JOIN task t
            ON t.id = b.`task_id`
            INNER JOIN company c
            ON c.id = b.`hr_company_id`
            INNER JOIN company c2
            ON c2.id = b.hotel_id
            <if test = "name != null and name != ''">
                and c2.name like concat('%', #{name} , '%')
            </if>
            )
        </if>
) k
LEFT JOIN (
SELECT GROUP_CONCAT(e.`text`) AS STATUS, cr.service_comment_id FROM evaluate_comment_relation cr INNER JOIN
evaluate e ON e.id = cr.evaluate_id GROUP BY cr.service_comment_id
) n
ON k.commentId = n.service_comment_id
 ORDER BY createTime DESC
    </select>
</mapper>