<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.UserCompanyMapper" >
    <sql id="UserCompany_Query_List" >
        id as pid, create_time, deleted, modify_time,
        all_tasks, company_type, confirmed_date, confirmed_tasks, no_promise_tasks,
        refused_reason, refused_tasks, relieve_time, status, user_type, company_id, user_id
    </sql>
	<sql id="TaskWorker_Query_List" >
        id as pid, create_time, deleted, modify_time,
        confirmed_date, from_date, have_pay_money, minutes, no_promise, refused_reason, repast_times,
        settled, settled_date, should_pay_money, status, to_date, worker_id, task_hr_id, user_id, day_start_time, day_end_time, user_name,hourly_pay,hr_company_name,hotel_name
    </sql>
    <sql id="User_Query_List" >
        id as pid, create_time, deleted, modify_time, activated, avatar, birthday, email, mobile, nickname, password,
        sex, user_type, username, worker_id, user_code
    </sql>
    <update id="addNoPromiseTasks">
        UPDATE user_company SET no_Promise_Tasks = no_Promise_Tasks + 1 Where user_id = #{userId} and company_id=#{companyId}
    </update>
    <select id="findOneUserCompany" resultType="com.microdev.model.UserCompany" >
        SELECT <include refid="UserCompany_Query_List"/> FROM user_company as a Where a.company_id=#{companyId} and user_id=#{userId} LIMIT 1
    </select>
	<select id="getSelectableWorker" resultType="com.microdev.model.User" parameterType="com.microdev.param.HrQueryWorkerDTO">
        select <include refid="User_Query_List"/> FROM user where id in (select user_id
        from  user_company where status = 1 and
        company_id = #{hrId} and user_id not in (select
        user_id from
        task_worker where task_hr_id = #{taskId}))
    </select>
    <select id="getUnSelectableWorker" resultType="com.microdev.model.TaskWorker" parameterType="com.microdev.param.HrQueryWorkerDTO">
        select <include refid="TaskWorker_Query_List"/> from task_worker where task_hr_id = #{taskId}
    </select>
    <insert id="save" parameterType="com.microdev.model.UserCompany">
        insert into user_company values(#{pid},#{createTime},#{deleted},#{modifyTime},
        #{allTasks},#{companyType},#{confirmedDate},#{confirmedTasks},#{noPromiseTasks},
        #{refusedReason},#{refusedTasks},#{relieveTime},#{status},#{userType},
        #{companyId},#{userId})
    </insert>
    <update id="update" parameterType="com.microdev.model.UserCompany">
        update user_company set deleted = #{deleted},modify_time = #{modifyTime},all_tasks = #{allTasks},company_type = #{companyType},
        confirmed_date = #{confirmedDate},confirmed_tasks = #{confirmedTasks},no_promise_tasks = #{noPromiseTasks},refused_reason = #{refusedReason},
        refused_tasks = #{refusedTasks},relieve_time = #{relieveTime},status = #{status},user_type = #{userType},company_id = #{companyId},
        user_id = #{userId} where id = #{pid}
    </update>

</mapper>