<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.UserMapper">
    <sql id="User_Query_List">
        id as pid, create_time, deleted, modify_time, activated, avatar, birthday, email, mobile, nickname, password,
        sex, user_type, username, worker_id,age ,superior,ms_num
    </sql>
    <select id="query" resultType="com.microdev.model.User" parameterType="com.microdev.param.UserDTO">
        select * from USER
    </select>
    <select id="findByMobile" resultType="com.microdev.model.User" parameterType="java.lang.String">
        select
        <include refid="User_Query_List"/>
        from USER WHERE mobile = #{mobile}
    </select>
    <select id="queryByWorkerId" resultType="com.microdev.model.User" parameterType="java.lang.String">
        select
        <include refid="User_Query_List"/>
        from user where worker_id = #{id}
    </select>
    <select id="queryByUserId" resultType="com.microdev.model.User" parameterType="java.lang.String">
        select
        <include refid="User_Query_List"/>
        from user where id = #{userId}
    </select>
    <update id="update" parameterType="com.microdev.model.User">
        update user set deleted = #{deleted},modify_time = #{modifyTime},activated = #{activated},
        avatar = #{avatar},birthday = #{birthday},email = #{email},mobile = #{mobile},nickname = #{nickname},
        password = #{password},sex = #{sex},user_type = #{userType},username = #{username},worker_id = #{workerId},
        user_code = #{userCode} where id = #{pid}
    </update>

    <select id="selectIdByWorkerId" resultType="java.lang.String">
        select id from USER WHERE worker_id IN
        <foreach collection="set" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectByWorkerId" resultType="com.microdev.model.User" parameterType="java.lang.String">
        select <include refid="User_Query_List"/> from user where worker_id = #{workerId}
    </select>

    <select id="selectUserInfo" resultType="com.microdev.param.UserTaskResponse">
        SELECT u.nickname AS username, u.sex AS sex,u.age,u.mobile AS mobile,w.health_card AS healthCard FROM USER u INNER JOIN worker w
ON u.worker_id = w.id WHERE w.id = #{workerId}
    </select>
    <select id="queryFreeback" resultType="com.microdev.model.FeedBack" parameterType="com.microdev.param.FeedbackQueryDTO">
        select f.*,u.nickname as userName from feedback f left join user u on f.user_id = u.id
        <where>
            <if test="name != null and name != ''">
                u.nickname like concat('%', #{name},'%')
            </if>
            <if test="userType != null and userType != ''">
                and f.user_type = #{userType}
            </if>
        </where>
        order by f.create_time desc
    </select>
</mapper>