<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microdev.mapper.WorkerLogMapper">
    <sql id="WorkLog_Column_List">
        id as pid, create_time, deleted, modify_time,
        from_date, minutes, punch_date, repast_times, task_worker_id,
        to_date, task_id,status,employer_confirm_status
    </sql>
    <resultMap type="com.microdev.param.PunchDTO" id="countPunchMap">
        <result column="startTime" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="endTime" jdbcType="TIMESTAMP" property="endTime"/>
        <association property="log" javaType="com.microdev.model.WorkLog">
            <id column="id" jdbcType="VARCHAR" property="pid"/>
            <result column="fromDate" jdbcType="TIMESTAMP" property="fromDate"/>
            <result column="toDate" jdbcType="TIMESTAMP" property="toDate"/>
            <result column="taskWorkerId" jdbcType="VARCHAR" property="taskWorkerId"/>
        </association>
    </resultMap>
    <select id="findFirstByTaskWorkerId" resultType="com.microdev.model.WorkLog">
        SELECT
        <include refid="WorkLog_Column_List"/>
        FROM work_log WHERE task_worker_id = #{taskWorkId} and deleted = FALSE
        and create_time &lt;#{end} and create_time &gt;=#{begin}
        order by punch_date desc limit 1
    </select>
    <select id="findByTaskWorkId" parameterType="java.lang.String" resultType="com.microdev.model.WorkLog">
        SELECT
        <include refid="WorkLog_Column_List"/>
        FROM work_log WHERE task_worker_id = #{taskWorkerId} and deleted = FALSE
        order by punch_date desc
    </select>

    <update id="updateByMapId" parameterType="java.util.Map">
        update work_log
        <set>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="fromDate != null">
                from_date = #{fromDate},
            </if>
            <if test="toDate != null">
                to_date = #{toDate},
            </if>
            <if test="punchDate != null">
                punch_date = #{punchDate},
            </if>
            <if test="minutes != null">
                minutes = #{minutes},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="employerConfirmStatus != null">
                employer_confirm_status = #{employerConfirmStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="countPunchInfoNumber" resultType="java.lang.Integer">
        select count(1)
		FROM task_worker tw
		INNER JOIN work_log wl
		ON wl.`task_worker_id` = tw.`id`
		WHERE DATE_SUB(CURDATE(),INTERVAL 1 DAY) = DATE(wl.create_time) and
		wl.deleted = FALSE
		group by wl.task_worker_id
    </select>
    <select id="countPunchInfo" resultMap="countPunchMap" parameterType="java.util.Map">
        SELECT tw.`day_start_time` AS startTime,
		tw.`day_end_time` AS endTime,
		GROUP_CONCAT(wl.id) AS id,wl.task_worker_id as
		taskWorkerId,
		group_concat(wl.`from_date`) AS fromDate,
		group_concat(wl.`to_date`) AS toDate
		FROM task_worker tw
		INNER JOIN work_log wl
		ON wl.`task_worker_id` = tw.`id`
		WHERE wl.deleted = FALSE and
		DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL 1 DAY),'%y-%m-%d') = DATE_FORMAT(DATE(wl.create_time),'%y-%m-%d')
		GROUP BY wl.task_worker_id
		LIMIT #{start}, #{end}
    </select>
    <update id="updateBatch" parameterType="java.util.List">
        update work_log
        set status =
        <foreach collection="list" item="item" open="case id " close="end"
                 separator=" ">
            when #{item.pid} then #{item.status}
        </foreach>
        where id in
        <foreach collection="list" item="item" open="(" separator=","
                 close=")">
            #{item.pid}
        </foreach>
    </update>

    <select id="selectWorkLogByTime" parameterType="java.util.Map"
            resultType="com.microdev.model.WorkLog">
		SELECT <include refid="WorkLog_Column_List"/>
		FROM work_log WHERE task_worker_id = #{taskWorkerId}
		AND DATE_FORMAT(create_time, '%Y-%m-%d') =
		DATE_FORMAT(#{time},'%Y-%m-%d')
		and deleted = FALSE
	</select>

    <select id="selectNoPunchByWorkerId" parameterType="java.lang.String"
            resultType="com.microdev.param.SupplementResponse">
        SELECT c.name AS
        hotelName,DATE_FORMAT(tw.from_date,'%Y.%m.%d')
        AS workFromDate,DATE_FORMAT(tw.to_date,'%Y.%m.%d') AS workToDate,
        DATE_FORMAT(tw.day_start_time,'%H:%i') AS dayStartTime,
        DATE_FORMAT(tw.day_end_time,'%H:%i') AS dayEndTime,tw.task_type_text
        AS taskTypeText,GROUP_CONCAT(DATE_FORMAT(wl.`from_date`,'%H:%i') ORDER BY wl.create_time ASC) AS startTime,
        GROUP_CONCAT(IFNULL(DATE_FORMAT(wl.`to_date`,'%H:%i'), '--') ORDER BY wl.create_time ASC) AS endTime,
        tw.`hotel_id` AS hotelId,tw.id AS taskWorkerId,tw.worker_id AS workerId,
        DATE_FORMAT(wl.`create_time`,'%Y/%m/%d') AS current,IFNULL(tw.hourly_pay,0) AS price,c.address,c.area,tw.task_content AS taskContent,c.`leader`,c.`leader_mobile` AS leaderMobile
        FROM (
        SELECT m.`create_time`,m.`from_date`,m.`to_date`,m.`task_worker_id` FROM work_log m INNER JOIN
        (SELECT create_time, task_worker_id AS pid FROM work_log WHERE to_date IS NULL AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(create_time)) m3
        ON DATE(m.`create_time`) = DATE(m3.create_time)
        AND m.task_worker_id = m3.pid) wl
        INNER JOIN
        (SELECT
        *
        FROM
        task_worker
        WHERE worker_id = #{workerId}) tw
        ON wl.`task_worker_id` = tw.id
        AND
        CASE
        WHEN DATE_FORMAT(wl.create_time, '%Y-%m-%d') = CURDATE()
        THEN CURTIME() > DATE_ADD(
        tw.day_end_time,
        INTERVAL 30 MINUTE
        )
        ELSE 1 = 1
        END
        INNER JOIN company c
        ON c.id = tw.hotel_id
        GROUP BY DATE_FORMAT(wl.create_time, '%Y.%m.%d'),
        wl.task_worker_id
    </select>
    <select id="selectNoPunchDetail" parameterType="java.util.Map"
            resultType="com.microdev.param.SupplementResponse">
        SELECT
  DATE_FORMAT(tw.from_date, '%Y.%m.%d') AS workFromDate,
  DATE_FORMAT(tw.to_date, '%Y.%m.%d') AS workToDate,
  DATE_FORMAT(tw.day_start_time, '%H:%i') AS dayStartTime,
  GROUP_CONCAT(
    DATE_FORMAT(wl.`from_date`, '%H:%i')
    ORDER BY wl.create_time ASC
  ) AS fromDate,
  GROUP_CONCAT(
    IFNULL(
      DATE_FORMAT(wl.`to_date`, '%H:%i'),
      '--'
    )
    ORDER BY wl.create_time ASC
  ) AS toDate,
  DATE_FORMAT(wl.`create_time`, '%Y/%m/%d') AS current,
  DATE_FORMAT(tw.day_end_time, '%H:%i') AS dayEndTime,
  tw.hourly_pay AS hourlyPay,
  tw.task_type_text AS taskTypeText,
  tw.`task_content` AS taskContent,
  c.name AS hotelName,
  c.address AS address,
  c.leader AS leader,
  c.leader_mobile AS leaderMobile,
  tw.`hotel_id` AS hotelId,
  tw.id AS taskWorkerId,
  c.area,
  tw.`worker_id`
FROM
  (SELECT
    *
  FROM
    work_log
  WHERE task_worker_id = #{taskWorkerId} AND DATE_FORMAT(create_time, '%Y/%m/%d') = #{date}) wl
    INNER JOIN task_worker tw
      ON wl.`task_worker_id` = tw.id
    INNER JOIN company c
      ON c.id = tw.`hotel_id`
  GROUP BY wl.create_time
    </select>
    <select id="selectUserPunchDetail" parameterType="java.lang.String"
            resultType="com.microdev.param.WorkerOneDayInfo">
SELECT GROUP_CONCAT( DATE_FORMAT(m.from_date, '%H:%i') ORDER BY m.create_time ASC ) AS fromDate,
GROUP_CONCAT( IFNULL(DATE_FORMAT( m.to_date, '%H:%i' ),'') ORDER BY m.create_time ASC ) AS toDate,
GROUP_CONCAT( IFNULL(m.STATUS, 0 ) ORDER BY m.create_time ASC) AS STATUS,
GROUP_CONCAT( IFNULL( m.employer_confirm_status, 0 ) ORDER BY m.create_time ASC) AS employerConfirmStatus,

m.create_time AS createTime,SUM(IFNULL(m.minutes,0)) AS totalTime  FROM
(

SELECT from_date, to_date,STATUS ,employer_confirm_status,create_time,id,minutes FROM 	work_log WHERE task_worker_id = #{taskWorkerId}
) m GROUP BY DATE_FORMAT( m.create_time,'%Y-%m-%d')
	</select>
    <select id="selectPunchDetails" parameterType="java.lang.String" resultType="com.microdev.model.WorkLog">
		select from_date,to_date,status,employer_confirm_status from work_log where task_worker_id = #{taskWorkerId}
		order by create_time ASC
	</select>

    <select id = "selectUnreadPunchCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM (
        SELECT GROUP_CONCAT(DATE_FORMAT(wl.`from_date`,'%H:%i') ORDER BY wl.create_time ASC) AS startTime
        FROM (
        SELECT m.`create_time`,m.`from_date`,m.`task_worker_id` FROM work_log m INNER JOIN
        (SELECT create_time, task_worker_id AS pid FROM work_log WHERE to_date IS NULL AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(create_time)) m3
        ON DATE(m.`create_time`) = DATE(m3.create_time)
        AND m.task_worker_id = m3.pid) wl
        INNER JOIN
        (SELECT
        id,day_end_time,hotel_id
        FROM
        task_worker
        WHERE worker_id = #{workerId}) tw
        ON wl.`task_worker_id` = tw.id
        AND
        CASE
        WHEN DATE_FORMAT(wl.create_time, '%Y-%m-%d') = CURDATE()
        THEN CURTIME() > DATE_ADD(
        tw.day_end_time,
        INTERVAL 30 MINUTE
        )
        ELSE 1 = 1
        END
        INNER JOIN company c
        ON c.id = tw.hotel_id
        GROUP BY DATE_FORMAT(wl.create_time, '%Y.%m.%d'),
        wl.task_worker_id) tcount
    </select>

    <select id="selectUnreadInfoOne" resultType="com.microdev.model.WorkLog">
        select <include refid="WorkLog_Column_List"/> from work_log where task_worker_id = #{taskWorkerId} and DATE_FORMAT(create_time, '%Y-%m-%d') = #{date} limit 1
    </select>

    <select id = "selectByDate" parameterType="com.microdev.param.HotelHandleWorkerRecord" resultType="com.microdev.model.WorkLog">
        SELECT <include refid="WorkLog_Column_List"/> FROM work_log WHERE task_worker_id = #{taskWorkerId} AND DATE_FORMAT(create_time, '%Y/%m/%d') = #{date}
    </select>

    <select id = "selectWorkerCommentCount" resultType="java.util.Map">
        SELECT COUNT(1) AS amount, wl.status FROM
(
SELECT status,task_worker_id FROM work_log WHERE employer_confirm_status = 1
) wl
INNER JOIN
(
SELECT * FROM task_worker WHERE worker_id = #{workerId}
) tw
ON tw.id = wl.`task_worker_id`
GROUP BY wl.`status`
    </select>
</mapper>